<html>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<head>
    <title>Title</title>

    <script src="https://www.google.com/recaptcha/api.js?render=6Ld-kxUqAAAAAPLYxnzZgI9Ox0swMKCQz8GkzpHA"></script>
    <script>
        function reCapt() {
            grecaptcha.ready(function () {
                grecaptcha.execute('6Ld-kxUqAAAAAPLYxnzZgI9Ox0swMKCQz8GkzpHA', {action: 'submit'}).then(function (token) {
                    $('#token').val(token);
                });
            });
        }
    </script>

</head>
<body>
<div>
    <form action="/login/validation" method="post">
        <button type="button" id="g-recaptcha" onclick="reCapt()">토큰받아옴</button>
        <br>
        <textarea type="text" id="token" name="token" value=""></textarea>
        <br>
        <button type="submit">제출</button>
    </form>

</div>

</body>
</html>